.center {
    text-align: center;
}

.topPreloder {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 999999999;
}

.innerTopPreloder {
    padding: 19px 10px 1px 10px;
    box-shadow: 0 0 5px #ccc;
    background: #f5f5f5;
    width: 150px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.8);
    z-index: 999999998;
    display: none;
}

p {
    line-height: 1.1em;
}

.chat {
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #d4d4d4;
    border-radius: 5px; 
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    height: 600px;
    position: relative;
}

.backgroundOther {
    background: #f5f5f5;
}

.fz2 {
    font-size: 2em;
}

.mt10 {
    margin-top: 10px;
}

.br1 {
    border-right: 1px solid  #d4d4d4;
}

#editableMesageBlock {
    width: 100%;
    text-align: center;
    display: none;
}
